<div class="container">
  <table class="table">
    <thead class="table-dark">
    <tr>
      <td></td>
      <td>Name</td>
      <td>Price</td>
      <td>Unit Stock</td>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let tempProduct of products" class="align-middle">
      <td ><img src="{{tempProduct.imageUrl}}" height="75"> </td>
      <td >{{tempProduct.name}}</td>
      <td >{{tempProduct.unitPrice | currency:"EUR"}}</td>
      <td >{{tempProduct.unitsInStock}}</td>
    </tr>
    </tbody>

  </table>

</div>

